<%- include('header') -%>

<!-- In your EJS template for the circulars page -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>


<style>
  .circular {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 85vw;
    margin: auto;
    border-radius: 10px;
  }

  .circular h3 {
    margin-bottom: 10px;
  }

  .circular p {
    margin: 5px 0;
  }

  .delete-btn {
    display: none;
    margin-top: 10px;
  }
</style>

<h1 class="h1">Circulars</h1>

<% if (circulars.length === 0) { %>
  <p class="h1">No circulars found.</p>
<% } else { %>
  <% circulars.forEach(function(circular) { %>
    <div class="circular">
      <h3 class="mb-5"><%= circular.title %></h3>
      <p><strong>For Classes:</strong> <%= circular.classes.join(', ') %></p>
      <p><strong>Day:</strong> <%= circular.day %></p>
      <p><strong>Date:</strong> <%= circular.date %></p>
      <p><strong>Dear Parents,</strong></p>
      <p class="circular-content mb-3"><%= circular.content %></p>

      <% if (teacherLoggedIn) { %>
        <form action="/circulars/<%= circular._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>
    </div>
  <% }); %>
<% } %>

<%- include('footer') -%>
