<%- include('header') -%>

<h1 class="h1">Circulars</h1>

<% if (circulars.length === 0) { %>
  <p class="h1">No circulars found.</p>
<% } else { %>
  <% circulars.forEach(function(circular) { %>
    <div class="circular mb-5">
      <h3 class="mb-5"><%= circular.title %></h3>
      <p><strong>For Classes:</strong> <%= circular.classes.join(', ') %></p>
      <p><strong>Day:</strong> <%= circular.day %></p>
      <p><strong>Date:</strong> <%= circular.date %></p>
      <p><strong>Dear Parents,</strong></p>
      <p class="circular-content mb-3"><%= circular.content %></p>

      <% if (teacherLoggedIn) { %>
        <form action="/circulars/<%= circular._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>

      <p class="mb-3"><strong>Regards,</strong><br>PVN School Management</p>
    </div>
  <% }); %>
<% } %>

<%- include('footer') -%>
