<%- include('header') -%>

<h1 class="h1">Gallery</h1>

<div class="gallery container">
  <% try { %>
    <% Object.entries(photos).reverse().forEach(([folder, images]) => { %>
      <div class="album-section">
        <h2 class="h1"><%= folder %></h2>
        <div class="d-flex justify-content-center flex-wrap">
          <% images.forEach(photo => { %>
            <div class="p-2">
              <img src="<%= photo %>" alt="<%= photo.name %>" class="gallery-image mb-5" loading="lazy">
            </div>
          <% }); %> 
        </div>
      </div>
    <% }); %>
  <% } catch (error) { %>
    <p>Error rendering gallery: <%= error.message %></p>
  <% } %>
</div>

<%- include('footer') -%>
