<%- include('header') -%>

<h1 class="h1">Gallery</h1>

<div class="gallery container">
  <div class="album-section">
    <% folders.forEach(function(folder) { %>
      <h2 class="h1"><%= folder %></h2>
      <div class="image-gallery">
        <% photos[folder].forEach(function(photo) { %>
          <img src="/images/gallery/<%= folder %>/<%= photo %>" alt="<%= photo %>" class="gallery-image-total ms-3 me-3 mt-3 mb-5">
        <% }); %>
      </div>
    <% }); %>
  </div>
</div>



<%- include('footer') -%>  