<%- include('header') -%>

<div class="container">
    <% albums.forEach(album => { %>
      <% if (album.name !== "Profile pictures" && album.photos && album.photos.data) { %>
        <div class="album-section">
          <h2 class="mt-5 mb-5"><%= album.name %></h2>
          <div class="image-gallery">
            <% album.photos.data.forEach(photo => { %>
              <div class="gallery-image-total ms-3 me-3">
                <img src="<%= photo.images[0].source %>" alt="gallery-image" class="gallery-image">
                <p class="image-text"><%= photo.name %></p>
              </div>
            <% }); %>
          </div>
        </div>
      <% } %>
    <% }); %>
  </div>
  
  
  

<%- include('footer') -%>   