<%- include('header') -%>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

  table{
    width: 60vw !important;
    margin: auto;
  }

  /* Add this style to your CSS file */
  table.black-bordered td,
  table.black-bordered th {
    border: 1px solid black;
  }

  table.black-bordered th {
    text-align: center;
  }

  .student-details{
    width: 80vw;
    margin: auto;
  }
</style>

<div class="student-details mt-5 mb-5">
  <h1 class="h1 mb-5">Student Details</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <% for (const key in studentDetails) { %>
          <li class="list-group-item">
            <% let renamedKey = key; %>
            <% switch (key) {
              case 'S NAME':
                renamedKey = 'Student Name';
                break;
              case 'F NAME':
                renamedKey = 'Father Name';
                break;
              case 'M NAME':
                renamedKey = 'Mother Name';
                break;
              case 'ADMN':
                renamedKey = 'Admission Number';
                break;
              case 'AADHAR NO':
                renamedKey = 'Aadhar Number';
                break;
              case 'PH-1':
                renamedKey = 'Phone Number - 1';
                break;
              case 'PH-2':
                renamedKey = 'Phone Number - 2';
                break;
            } %>
            <strong><%= renamedKey %>:</strong>
            <% if (key === 'Exam Result') { %>
              <% const examResult = studentDetails[key]; %>
              <% if (Array.isArray(examResult) && examResult.length > 0) { %>
                <% examResult.forEach((exam) => { %>
                  <h2 class="h1 mb-3 mt-5"><%= exam.name %></h2>
                  <table class="table table-bordered black-bordered">
                    <thead>
                      <tr>
                        <th>Subject</th>
                        <th>Marks</th>
                        <th>Grade</th>
                        <th>Point</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% const subjectPoints = []; %>
                      <% let totalMarks = 0; %>
                      <% const marks = exam.marks; %>
                      <% for (const subject in marks) { %>
                        <% if (subject !== '_id') { %>
                          <% const subjectMarks = marks[subject]; %>
                          <% const grade = calculateGrade(subjectMarks); %>
                          <% const point = calculatePoints(grade); %>
                          <% const marksObtained = parseInt(subjectMarks, 10); %>
                          <tr>
                            <td><em><%= subject %></em></td>
                            <td><%= marksObtained %></td>
                            <td><%= grade %></td>
                            <td><%= point %></td>
                          </tr>
                          <% subjectPoints.push(point); %>
                          <% totalMarks += marksObtained; %>
                        <% } %>
                      <% } %>
                      <tr>
                        <td><strong>Total</strong></td>
                        <% const percentage = ((totalMarks / 120 * 100) || 0).toFixed(2); %>
                        <td><strong><%= totalMarks %></strong></td>
                        <td><strong><%= calculateOverallGrade(percentage) %></strong></td>
                        <td><strong>
                          <% const gpa = calculateGPA(subjectPoints); %>
                          <%= gpa.toFixed(1) %>
                        </strong></td>
                      </tr>
                      <tr>
                        <td><strong>Percentage</strong></td>
                        <td colspan="3"><strong><%= percentage %>%</strong></td>
                      </tr>
                    </tbody>
                  </table>
                <% }); %>
              <% } else { %>
                No exam results available.
              <% } %>
            <% } else { %>
              <%= studentDetails[key] %>
            <% } %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include('footer') -%>
