<%- include('header') -%>


<div class="container mt-5 mb-5">
  <h1 class="h1 mb-5">Student Details</h1>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <% for (const key in studentDetails) { %>
          <li class="list-group-item">
            <strong><%= key %>:</strong> <%= studentDetails[key] %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  
  <!-- <% if (marks) { %>
    <h1 class="h1 mt-5">Marks</h1>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <% for (const key in studentDetails.Result) { %>
            <li class="list-group-item">
              <strong><%= key %>:</strong>
              <% for (const subject in studentDetails.Result[key]) { %>
                <%= subject %>: <%= studentDetails.Result[key][subject] %>,
              <% } %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  <% } %>
</div> -->



<%- include('footer') -%>